<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/index" | prepend: site.baseurl }}">Home</a></li>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header >

	<h1 style="line-height: 1; margin: 0 0 0"><a href="{{ site.baseurl }}" >{{ site.title }}</a></h1>
	<p style="line-height: 1; margin:2 0 0">
	<a href="https://github.com/XiaozhouWang85" style="text-decoration: none" > <img src="{{site.url}}/assets/GitHub-Mark-Light-32px.png" style="width:24px"> </a>
	<a href="mailto:xiaozhou.wang85@gmail.com" style="text-decoration: none"> <img src="{{site.url}}/assets/email-10-32.png" style="width:24px"> </a>
	</p>
</header>
