$content-width: 800px;
$main: #FFFFFF;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #CE8536;
$link-hover-color: #CE8536;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #324152;
$light: #7D959A;
$header:  #284867;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}